@font-face{
    font-family: "P";
    src: url('../STYLE/font/GillSans.ttc');
}

@font-face{
    font-family: "H1";
    src: url('../STYLE/font/Signatra.otf'); 
}

@font-face{
    font-family: "H2";
    src: url('../STYLE/font/Signatra.otf');
}

@font-face{
    font-family: "H4";
    src: url('../STYLE/font/GillSans.ttc');
}

body{
    font-family :"P";
}

h1{
    font-family:"H1";
    font-size: 3.5rem;
    vertical-align:top;
    color:white;
}

h2{
    font-family:"H2";
    Font-size:3rem;
    text-align:center;
    color:salmon;
    background-color:white;
   margin-right:-3%;
   margin-left: -3%;
   margin-top: -1.5%;
   font-style: none;

}
h3{
    font-family:"H2";
    Font-size:2.3rem;
    text-align:center;
    color:salmon;
    background-color:white;
   margin-right:-3%;
   margin-left: -3%;
   margin-top: -1.5%;
   font-style: none;   
}

h4{
    font-family:"H4";
    text-transform:uppercase;
    font-size: 1.3rem;
    color:indianred;
}

header{
    height:135px;
    background-color:salmon ; 
    text-align:center;

}

footer{
    height:6em;
    background-color:salmon ; 
    color:white; 
    padding:2%;   
}

.contenu{
    width:70%;
    vertical-align:middle;
    margin-left: auto;
    margin-right:auto;
    background-color: seashell;
    padding: 2%;
}
header a{
    padding:0.5%;
}

a{
    text-decoration:none;
    color:black;
}
a:hover{
    color:saddlebrown;
    }

.a_lien_article{
    font-style:italic;
    text-decoration-color:salmon;
}

nav{
    background-color:seashell;
    color:black;
    display:inline-block 100%;
    padding-right: 2%;
    margin:0px;
    text-align:right;
    vertical-align: middle;  
    text-transform:uppercase;
    font-size: 1.5rem;
}

form{
    outline: none;
    width:300px;
    padding:8px;
    margin-left:auto;
    margin-right:auto;
    background-color: seashell;
}

.presentation{
    text-align: center;
}

.extrait{
    color:dimgray;
}



button:hover{
    background-color:salmon;
    color:white;
    border:none;
}


input{
    width:250px;
    height: 30px;
    border: solid 2px seashell;
    margin:1%;
}

input:hover{
    border:2px solid salmon;
}

.lien_footer{
    text-align: right;
    width:50%;
}
.footerpart1{
    width:50%;
}

.footerentier{
        display:flex;
        flex-direction:row;
        overflow:hidden;
}

.footer_back{
    text-align:center;
}